# LaTeX build files
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.out
*.lot
*.lof
*.loa
*.lol
*.loq
*.los
*.nav
*.snm
*.vrb

# LaTeX intermediate files
*.dvi
*.xdv
*.pdfsync
*.gz
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.flg
*.slg
*.syg
*.syi
*.syh
*.syd
*.syc
*.syb
*.syx
*.syw
*.syv
*.aux